@import 'mapas.less'; // referenciando o mapa das cores 

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";


.marginBottom8 {
    margin-bottom: 8px;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to bottom, #132e3571, #0d1f23);
    color: #colors[textColor];
    height: 100vh;
    overflow: hidden;
} 

li {
    list-style: none;
}

.container {
    background-color: rgba(19, 46, 53, 0.3);
    max-width: 580px;
    width: 100%;
    margin-top: 100px;
    padding: 50px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    transition: all ease-in-out .5s;

    @media @breakpointMobile {
        max-width: 70%;
    }
    @media @breakpointTablet{ 
        max-width: 80%;
    }
}

header {
    padding-bottom: 24px;

    .profile-avatar {
        display: block;
        margin: 0 auto 24px;
        border-radius: 100px;
        height: 150px;
        border: 2px solid #132e35;
    }
}

.profile-bio {
    text-align: center;


    &-name {  // o & comercial permite que não precise utilizar o seletor por completo
        font-size: 18px;
        .marginBottom8();
    }

    &-subtitle{
        font-size: 16px;
        .marginBottom8();
    }

    &-description {
        font-size: 14px;
        opacity: .7;
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;

    li {
        background-color: #colors[buttonColor2];
        width: 54px;
        height: 54px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        transition: all ease-in-out .3s;

            &:hover {
                transform: scale(1.1);
                background-color: #0d1f239c;
                    }

            a {
                    width: 54px;
                    height: 54px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        }
}

.project-list {
    margin-top: 16px;

    &-item {
        a {
            display: block;
            padding: 16px 20px;
            margin-bottom: 16px;
            text-decoration: none;
            background-color: #colors[buttonColor];
            text-align: center;
            color: #colors[buttonColor2];
            font-weight: bold;
            border-radius: 15px;
            border: 2px solid #colors[buttonColor];
            transition: all ease-in-out .4s;

            &:hover {
                color: #colors[textColor];
                background-color: #0d1f238f;
                border: 2px solid #dff9fb;
            }
        }
    }
}